<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %C{1} - %msg%n" />
        </Console>

        <!-- General File Appender -->
        <File name="FileLogger" filename="logs/app.log" append="true">
            <Filters>
                <!-- Exclude ERROR and FATAL logs -->
                <Thresholdfilter level="error" onMatch="DENY" onMismatch="ACCEPT" />
            </Filters>
            <Patternlayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %C{1} - %msg%n" />
        </File>

        <!-- Error File Appender -->
        <File name="ErrorFileLogger" filename="logs/error.log" append="true">
            <Filters>
                <!-- Include only ERROR and FATAL logs -->
                <Thresholdfilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <Patternlayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %C{1} - %msg%n" />
        </File>
    </Appenders>

    <Loggers>
        <!-- Logger for com.demoproject (specify the package name here) -->
        <Logger name="com.orangehrm" level="trace" additivity="false">
            <Root level="error">
                <AppenderRef ref="Console" />
                <AppenderRef ref="FileLogger" />
                <AppenderRef ref="ErrorFileLogger" />
            </Root>
        </Logger>

    </Loggers>
</Configuration>